:root {
    --colour-base: #8EDC6F;
    --colour-green: #43a856ff;
    --colour-green-aa: #358544;
    --colour-dark-green: #286433;
    --colour-green-2: #64bd76ff;
    --colour-green-3: #85cb91ff;
    --colour-green-4: #75c585ff;
    --colour-teal: #9bbcabff;
    --colour-grey: #9fa6b4ff;
}

html {
    max-width: min(120ch, 100% - 4rem);
    margin-inline: auto;
    color-scheme: light;
    background: var(--colour-teal);
    align-items: center;
    justify-items: center;
}

.gtc_main {
    height: 80vh;
    width: 40vw;
    display: grid;
    font-size: 1.25rem;
    line-height: 1.5;
    font-family: sans-serif;
    align-content: center;
    justify-content: center;
}

@media (max-width: 728px) {
    .gtc_main {
        width: 100%;
    }
}

.gtc_button {
    padding: 0.4em 0.5em;
    background: var(--colour-dark-green);
    color: white;
    font-size: medium;
    border-radius: 1.5em;
    border-width: 0;
    cursor: pointer;

    &:hover {
        background: color-mix(in srgb, var(--colour-dark-green), black 30%);
    }
}

.gtc_link {
    text-decoration: none;
}

.gtc_header {
    color: var(--colour-dark-green);
    text-align: center;
}

.gtc_input {
    padding: 1em;
    resize: none;
    font-family: inherit;
    font-size: large;
}

.gtc_button_list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
}