:root {
    --colour-base: #8EDC6F;
    --colour-green: #43a856ff;
    --colour-green-aa: #358544;
    --colour-green-aaa: #286433;
    --colour-green-2: #64bd76ff;
    --colour-green-3: #85cb91ff;
    --colour-green-4: #75c585ff;
    --colour-teal: #9bbcabff;
    --colour-grey: #9fa6b4ff;
}

html {
    max-width: min(120ch, 100% - 4rem);
    margin-inline: auto;
    color-scheme: light dark;

    body {
        font-size: 1.25rem;
        line-height: 1.5;
        font-family: sans-serif;
    }

    #clue_section {
        height: 100vh;
        width: 100%;
        display: grid;
        grid-template:
            "clue" auto
            "answer" auto
            "keyboard" env(keyboard-inset-height, 0px);
        align-content: center;
        justify-content: center;

        #clue {
            color: var(--colour-green);
            grid-row: 1;
            text-align: center;
        }

        #answer {
            display: flex;
            flex-wrap: wrap;

            align-items: center;
            justify-content: center;
            grid-row: 2;

            .word {
                padding: 1em;
            }

            .letter {
                padding: 0.3em;
                margin-right: -4px;

                width: 1em;
                height: 1em;
                font-size: xx-large;
                text-align: center;
                font-family: sans-serif;
                text-transform: uppercase;
                caret-color: transparent;
                border: solid black 4px;
            }

            &:valid {
                background: lightgreen;
            }

            @media (max-width: 728px) {
                .letter {
                    font-size: x-large;
                }
            }
        }
    }
}