:root {
    --colour-base: #8EDC6F;
    --colour-green: #43a856ff;
    --colour-green-aa: #358544;
    --colour-green-aaa: #286433;
    --colour-green-2: #64bd76ff;
    --colour-green-3: #85cb91ff;
    --colour-green-4: #75c585ff;
    --colour-teal: #9bbcabff;
    --colour-grey: #9fa6b4ff;
}

html {
    max-width: min(120ch, 100% - 4rem);
    margin-inline: auto;
    color-scheme: light dark;

    body {
        font-size: 1.25rem;
        line-height: 1.5;
        font-family: sans-serif;
    }

    #clue_section {
        height: 100vh;
        width: 100%;
        display: grid;
        grid-template:
            "clue" auto
            "answer" auto
            "validate" auto
            "keyboard" env(keyboard-inset-height, 0px);
        align-content: center;
        justify-content: center;

        h1 {
            color: var(--colour-green);
            font-size: xxx-large;
            grid-row: 1;
            text-align: center;
        }

        form {
            display: flex;
            flex-wrap: wrap;

            align-items: center;
            justify-content: center;
            grid-row: 2;

            input {
                padding: 0.3em;
                margin-right: -4px;

                width: 1em;
                height: 1em;
                font-size: xxx-large;
                text-align: center;
                font-family: sans-serif;
                text-transform: uppercase;
                caret-color: transparent;
                border: solid black 4px;
            }

            @media (max-width: 728px) {
                input {
                    font-size: xx-large;
                }
            }
        }

        span {
            width: 1em;
            height: 1em;
            flex-basis: 100%;
        }

        button {
            flex-basis: 100%;
            background: none;
            border: none;
            margin: 2em;
            padding: 1em;
            font-size: xx-large;
            grid-row: 3;
            bottom: env(keyboard-inset-height, 0);
        }
    }


    .word {
        padding: 1em;
    }

    .validating {
        .letter {
            pointer-events: none;
        }

        .letter:valid {
            background: lightgreen;
        }

        .letter:invalid {
            background: lightcoral;
        }
    }

    #validate::after {
        content: "Check!"
    }

    .validating + #validate {
        &::after {
            content: "Try again?"
        }
    }
}