@import "base.css";

#clue {
    color: var(--colour-dark-green);
    grid-row: 1;
    text-align: center;
}


#buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}